<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY7xwS0tLI8KO4-_8X4mstWSnggYXNjU4</string>
	<key>GCM_SENDER_ID</key>
	<string>261874882552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mynthchain.mynthone</string>
	<key>PROJECT_ID</key>
	<string>mynthone-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>mynthone-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261874882552:ios:be41cd0b876720434d280d</string>
</dict>
</plist>